# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Airflow logs
docker/airflow/logs/*
!docker/airflow/logs/.gitkeep

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Secrets & credentials
*.json
!dbt/tests/generic.yml
.env
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
